* {
	margin: 0;
	padding: 0;
}

body {
	font-family: $avenirLTStd-regular-font;
	background-color: #040714;
	color: $white-75;
}

a {
	text-decoration: none;
	color: $white-75;
}

li {
	list-style: none;
}

p {
	margin: 0;
}

.custom-container {
	max-width: 1278px;
	width: 100%;
	margin: auto;
}

.custom-container-md {
	max-width: 1292px;
	width: 100%;
	margin: auto;
}

figure {
	margin: 0;
}

img {
	width: 100%;
}

@mixin button {
	max-width: 307px;
	width: 100%;
	height: 60px;
	background-color: $primary-color;
	color: $white-75;
	border-radius: 4px;
	letter-spacing: 1px;
}

button{
	background: none;
	border: none;
}
.btn-primary {
	@include button;
	transition: 0.3s all ease;
	&:hover{
		background-color: $primary-btn-hover-bg;
	}
}

.btn-secondary {
	padding: 16px 17px;
	background-color: $button-bg;
	border: 1px solid $white-50;
	color: $white-75;
	text-transform: uppercase;
	transition: 0.3s all ease;
	letter-spacing: 1px;
	&:hover{
		background-color: $button-hover-bg;
	}
}

input {
	border: none;
}
.text-x-sm {
	font-size: 12px;
	color: $white-50;

}
.text-sm {
	font-size: 16px;
	color: $white-50;
}

h2 {
	font-size: 43px;
	font-family: $avenirLTStd-bold-font;
	margin: 0;
}

h3 {
	font-size: 27px;
	margin: 0;
	font-family: $avenirLTStd-bold-font;
}
.section-padding{
	padding: 176px 0;
}
.section-padding-bottom{
	padding-bottom: 176px;
}

@media screen and (max-width: 1300px) {
	.custom-container {
		padding: 0 20px;
	}

	.custom-container-md {
		padding: 0 20px;
	}

	.custom-container-sm {
		padding: 0 20px;
	}
}
@media screen and (max-width: 768px) {
	.section-padding{
		padding: 76px 0;
	}
	.section-padding-bottom{
		padding-bottom: 76px;
	}
}